.list-title {
  color: #e5e7eb;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
}

/* Game List Grid */
.game-list {
  display: grid;
  gap: 32px;
  width: 100%;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.more-loader {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.more-loader::after {
  content: "";
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 5px solid #e5e7eb;
  border-bottom-color: transparent;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.more-loader.loaded {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.sentinel {
  height: 1px;
}

.no-result {
  color: #e5e7eb;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
}

/* Responsive with mobile first */

/* Phone */
@media (min-width: 375px) {
}

/* Tablet */
@media (min-width: 744px) {
  .game-list {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

/* Desktop */
@media (min-width: 1440px) {
  .game-list {
    grid-template-columns: repeat(8, minmax(0, 1fr));
  }
}
