.actions {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  display: flex;
  align-items: flex-start;
  gap: 16px;
  width: 100%;
  background: #1f2937;
  padding: 8px 16px;
}

app-search {
  width: 100%;
}
